
{% block sw_cms_block_product_comparison_preview %}
    <div class="sw-cms-block-product-comparison-preview">
        <div class="preview-card" v-for="index in 3" :key="index">
            <div class="preview-card__image"></div>
            <div class="preview-card__content">
                <div class="preview-card__line"></div>
                <div class="preview-card__line"></div>
                <div class="preview-card__line preview-card__line--short"></div>
            </div>
        </div>
    </div>
{% endblock %}

